# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/
data/data

# Data
data/raw/
data/processed/
*.zip
*.tar.gz
*.rec
*.idx

# IDEs
.vscode/
.idea/

# Output
logs/
checkpoints/
outputs/
*.onnx
*.pth

# OS
.DS_Store
Thumbs.db
.gemini
.idea
data/test_data_pipeline.py